<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>BananaTechies</display-name>
	<servlet>
		<description>
		</description>
		<display-name>TareaServlet</display-name>
		<servlet-name>TareaServlet</servlet-name>
		<servlet-class>com.BananaTechies.controllers.TareaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListaTareaServlet</display-name>
		<servlet-name>ListaTareaServlet</servlet-name>
		<servlet-class>com.BananaTechies.controllers.ListaTareaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TareaServlet</servlet-name>
		<url-pattern>/TareaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaTareaServlet</servlet-name>
		<url-pattern>/ListaTareaServlet</url-pattern>
	</servlet-mapping>

	<!-- jersey -->
	<display-name>Jersey REST Web Application</display-name>

	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.BananaTechies.resources</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/apiApp/*</url-pattern>
	</servlet-mapping>
</web-app>