<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>BananaTechies</display-name>
	<servlet>
		<description>
		</description>
		<display-name>TareaServlet</display-name>
		<servlet-name>TareaServlet</servlet-name>
		<servlet-class>com.BananaTechies.controllers.TareaServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ListaTareaServlet</display-name>
		<servlet-name>ListaTareaServlet</servlet-name>
		<servlet-class>com.BananaTechies.controllers.ListaTareaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TareaServlet</servlet-name>
		<url-pattern>/TareaServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListaTareaServlet</servlet-name>
		<url-pattern>/ListaTareaServlet</url-pattern>
	</servlet-mapping>
</web-app>